.App {
  display: grid;
  min-height: 100vh;
  grid-template-rows: [header] auto [content] 1fr [footer] auto;
  font-family: sans-serif;
}

.App__header {
  display: flex;
  justify-content: center;
  background-color: lightblue;
}

.App__content {
  overflow-y: scroll;
}

.App__nav-footer {
  background-color: lightblue;
}
